   <div class="main-menu">
            <form class="form-menu" method='get'>
                <button type="submit" class="form-menu-button" name="view" value="faults" style="success" id="fault_num">Ошибки</button>      
                <button type="submit" class="form-menu-button" name="view" value="search_code" style="success" id="fault_num">Документация</button>
                <button type="submit" class="form-menu-button" name="view" value="search_code" style="success" id="fault_num">Заметки </button>    
                <button type="submit" class="form-menu-button" name="view" value="search_code" style="success" id="fault_num">Мое оборудование</button>
                <button type="submit" class="form-menu-button" name="view" value="search_code" style="success" id="fault_num">Законодательство </button>
                <button type="submit" class="form-menu-button" name="view" value="search_code" style="success" id="fault_num">Настройки</button>    
                <button type="submit" class="form-menu-button" name="log_out" value="exit" style="success" id="fault_num">Выход</button>       
            <form>
    </div>